@import url(__background/cover__background.css);
@import url(__overlay/cover__overlay.css);
@import url(__title-block/cover__title-block.css);
@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);


.cover{
	padding: 92px 48px;
	position: relative;
}

@media screen and (max-width :1250px) and (min-width:768px) {
	/*768 << X << 1280 */
	.cover{
		padding-left: 0px;
		padding-right: 0px;
	}	
}

@media all and (min-width:500px) and (max-width : 768px){
	.cover{
		padding: 88px 0px;
	}
}

@media all and (max-width:500px) {
	.cover{
		padding: 64px 0px;
	}
}
